@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
*  {
    margin: 0;
    padding: 0;
    background-color:black;
    list-style: none;
    text-decoration: none;
}
 
header {

    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    width: 600px;
    height: auto;
} 
 


.container{
margin-left: 440px;
margin-top: 50px;}


select{
    display: flex;
    justify-content: space-around;
    align-items: center;   
    color:#fff;
    font-size: 19px;
    margin-top: 25px;  
    flex-direction: column;
    background-color: #333333;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-family: "Kdam Thmor Pro", sans-serif ;
}
label{
    display: flex;
    justify-content: space-around;
    align-items: center;   
    color:#fff;
    font-size: 10px;
    
    flex-direction: column;
    font-family: "Kdam Thmor Pro", sans-serif ;
}

textarea {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333333;
    color: white;
    font-size: 1.2em;
    margin-top: 5px;
    font-family: "Kdam Thmor Pro", sans-serif ;
  } 
  
  input {
    background-color:  #333333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
    width: 50%;
    font-family: "Kdam Thmor Pro", sans-serif ;
  }

 
.button{
    width: 100px;
    height: 60px;
    background-color:#D21617;
    color:#fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
    background-size: cover;
    margin-left:815px ;
 }
 
.button:hover {
    background-color: #fff;
    color:#000;

}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
span{
    color: #fff;
    font-family: "Kdam Thmor Pro", sans-serif;

}
 
.footer-list {
    display: flex;
    flex-direction: column;  
    align-items: center;
}

.logo2{
    width: 200px;
    height: auto;
}